@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'outfit';
    src: url('./../public/assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'yserif';
    src: url('./../public/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

body{
    font-family: 'outfit';
}
